---
import Social from "./Social.astro";

const platform = "github";
const username = "OriD-19";
---

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <p>Learn more about my projects on:</p>
    <Social platform="GitHub" username="OriD-19" />
    <Social platform="Twitter" username="OriD-19" />
    <Social platform="LinkedIn" username="Fer-Fuentes" />
</footer>
